html,body{
  padding: 0;
  margin: 0;
}
.comp-roll{
  background: #333;
  display: inline-block;
  border-radius: .1rem;
  .num-bg{
    background: red;
  }
}

.title{
  margin-top:.2rem
}
.tip{
  font-size: .7em;
  color: red;
}