@import "../../styles/common.less";

.vb-grid9{
  color: #666;
  font-size: .12rem;
  .item{
    height: 1.02rem;
    width: 31.5%;
    overflow: hidden;
    box-sizing: border-box;
    background-image: url("./img/nine.png");
    background-position: center center;
    background-size: contain;
    background-color: rgba(0,0,0,0);
    background-repeat: no-repeat;
    justify-content: center;
    color: #9F3535;
    &:nth-child(4),&:nth-child(5),&:nth-child(6){
      margin-top: .08rem;
      margin-bottom: .08rem;
    }
    &:nth-child(2),&:nth-child(5),&:nth-child(8){
      margin-left: .08rem;
      margin-right: .08rem;
    }
    &:nth-child(5){
      background-image: url("./img/nine0.png");
      background-position: center center;
      background-size: contain;
      background-color: rgba(0,0,0,0);
      background-repeat: no-repeat;
      border:none;
    }
    &.vb-grid9-light{
      background-image: url("./img/nine1.png");
      background-position: center center;
      background-size: contain;
      background-color: rgba(0,0,0,0);
      background-repeat: no-repeat;
    }
    .item-cont{
      display: block;
      justify-content: center;
      align-items: center;
      width: 100%;
      &.vb-grid9-center{
        height: 100%;
      }
      img{
        max-width: 100%;
        max-height: 100%;
      }
      .item-y{
        font-weight: 600;
        padding:.23rem .1rem 0;
        color: #9F3535;
        font-size: .12rem;
        span{
          color: #FF6000;
          font-family:FZLanTingHeiS-B-GB;
          font-size: .2rem;
        }
      }
      &.cont-text{
        img{
          height: .42rem;
        }
        p{
          margin: .01rem auto 0;
        }
      }
    }
  }
}
