<!DOCTYPE html>
<html lang="cn">

<head>
    <meta charset="UTF-8">
    <link rel="dns-prefetch" href="">
    <link rel="dns-prefetch" href="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1,maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>组件开发预览</title>
    <script>
        (function (doc, win) {
            var docEl = doc.documentElement,
                isIOS = navigator.userAgent.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/),
                dpr = isIOS ? Math.min(win.devicePixelRatio, 3) : 1,
                dpr = window.top === window.self ? dpr : 1, //被iframe引用时，禁止缩放
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize';
            docEl.dataset.dpr = dpr;
            var recalc = function () {
                var width = docEl.clientWidth;
                if (width / dpr > 375) {
                    width = 375 * dpr;
                }
                docEl.dataset.width = width
                docEl.dataset.percent = 100 * (width / 375);
                docEl.style.fontSize = 100 * (width / 375) + 'px';
            };
            recalc()
            isIOS && doc.documentElement.classList.add('iosx' + win.devicePixelRatio)
            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
        })(document, window);
    </script>
    <style>
        html,
        body {
            font-family: "Microsoft YaHei", "STHeiti", Helvetica, Arial, sans-serif;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            -webkit-text-size-adjust: none;
            min-height: 100vh;
        }
        #app{font-size: .12rem; text-align: center}
        .main-view { height: 100%; min-height: 100vh; font-size: .2rem; position: relative; }
    </style>
</head>

<body>
<div id="app">
    loading
</div>

<!-- bundle -->
</body>


</html>